.main{
height:85vh;
margin-bottom:rem;

}
.container{
display:flex;
justify-content:center;
align-items:center;
}
.hero{
// background-image: url('../images/heroImage.png');
// display:flex;
// justify-content:center;
// margin:0 11% 0 11%;

}
.headImgText{
  position:absolute;
}


.heroText{
font-size:48px;
}