.tourdates{
  height:80vh;

    .container{
        display:flex;
        flex-direction: column;
    h2{


    }
    .itemchunk{
      display:flex;
    }

    // .dates{
    //   display:flex;
    //   flex-direction: column;


    // }


    .tourButton{
      font-size:24px;
    }

    }
}
.tourdates-container{
  background-image:src('../../images/lgTexture.png')
}